This notebook follows 05_make_rentina_subsets_for_teaching.

Inputs:
1. cell_metadata.csv
2. amacrine_gene_metadata
3. differential_clusters_expression.csv

This notebook outputs the following files:
1. differential_clusters_lowrank.csv
2. differential_clusters_lowrank_tidy.csv
3. differential_clusters_lowrank_tidy_metadata.csv
4. differential_clusters_lowrank_tidy_metadata_amacrine.csv

In [1]:
import pandas as pd
import numpy as np
import r_pca

In [2]:
to_save=False

# Get Data

In [7]:
cell_metadata = pd.read_csv('data/metadata/cell_metadata.csv', index_col=0, squeeze=True)
gene_metadata_amacrine = pd.read_csv('data/amacrine/amacrine_gene_metadata.csv', index_col=0)
table1_diff_genes_cells = pd.read_csv('data/differential_clusters/differential_clusters_expression.csv',
                                     index_col=0)

In [9]:
table1_diff_genes_cells[['NRXN2', 'ATP1B1', 'PAX6', 'SLC32A1', 'SLC6A1', 'ELAVL3']]

                 NRXN2  ATP1B1  PAX6  SLC32A1  SLC6A1  ELAVL3
r1_GGCCGCAGTCCG   16.0   149.0   8.0      0.0     1.0    13.0
r1_CTTGTGCGGGAA   16.0   182.0  21.0      0.0    10.0     5.0
r1_GCGCAACTGCTC    7.0   119.0  10.0      0.0     5.0     4.0
r1_GATTGGGAGGCA   12.0    93.0   7.0      0.0     3.0     7.0
r1_GTGCCGCCTCTC    0.0     0.0   0.0      0.0     0.0     0.0
...                ...     ...   ...      ...     ...     ...
r1_CACCCAGTTTCG    0.0     0.0   0.0      0.0     0.0     0.0
r1_CCTGGAGAGTTT    0.0     0.0   0.0      0.0     0.0     0.0
r1_TCTTCACTCTTA    0.0     0.0   0.0      0.0     0.0     0.0
r1_GCCGTCTTACTA    0.0     0.0   0.0      0.0     0.0     0.0
r1_GACCAAACTAAT    0.0     0.0   1.0      0.0     0.0     0.0

[6020 rows x 6 columns]

# PCA

In [18]:
# Warning: this takes a long time...
smusher = r_pca.R_pca(table1_diff_genes_cells.to_numpy())
%time lowrank, sparse = smusher.fit(max_iter=200)  # maybe change this to 105 to match Olga's notebook?
lowrank

iteration: 1, error: 0.6588671407509644
iteration: 100, error: 0.01123108356951265
iteration: 200, error: 0.01255636376305212
CPU times: user 29min 16s, sys: 52.7 s, total: 30min 8s
Wall time: 5min 16s

array([[-2.32822363e-06, -4.30369650e-07,  5.09947594e+00, ...,
         6.96435129e+00,  5.27273218e+01, -1.25831762e-10],
       [-4.46128176e-07,  3.93000013e-07,  9.00000003e+00, ...,
         4.99999976e+00,  6.39491305e+01,  9.63615235e-01],
       [-7.60151859e-07, -3.62638226e-07,  1.08803970e+01, ...,
         3.97061659e+00,  3.79249399e+01, -2.20913732e-07],
       ...,
       [-6.51058000e-06,  1.16562240e-01, -2.70136871e-07, ...,
         5.02277118e-07,  2.44506825e-07,  6.71133459e-07],
       [-1.78297067e-04,  2.83346428e-06,  5.21866852e-08, ...,
         5.30059728e-07, -7.39572174e-08,  1.14921914e-07],
       [-2.54761010e-04,  4.82610923e-06, -5.41799921e-08, ...,
        -3.82201832e-07,  9.60595969e-08, -4.51423669e-07]])

In [40]:
lowrank_df = pd.DataFrame(lowrank,
                          index=table1_diff_genes_cells.index,
                          columns=table1_diff_genes_cells.columns)
print(lowrank_df.shape)
lowrank_df.head()

(6020, 1270)

,1500015O10RIK,1500016L03RIK,1700025G04RIK,1810009A15RIK,1810037I17RIK,2010107E04RIK,2410066E13RIK,2610017I09RIK,2900011O08RIK,4833424O15RIK,...,ZFHX3,ZFHX4,ZFP365,ZFP36L1,ZFP804A,ZIC1,ZIC4,ZMAT4,ZWINT,ZYX
r1_GGCCGCAGTCCG,-2.328224e-06,-4.303697e-07,5.099476,4.0,7.000000,27.975392,5.000000,3.324238e-03,33.000000,9.999999e-01,...,3.000000e+00,3.000000e+00,6.975763,-1.067161e-07,-1.535891e-07,8.311986e-07,6.137183e-07,6.964351e+00,52.727322,-1.258318e-10
r1_CTTGTGCGGGAA,-4.461282e-07,3.930000e-07,9.000000,4.0,4.000000,32.664470,4.000000,-1.243422e-07,42.877048,3.706110e-02,...,6.000000e+00,7.992024e+00,3.992822,8.618871e-08,-4.467152e-08,2.848230e-06,-1.437049e-06,5.000000e+00,63.949131,9.636152e-01
r1_GCGCAACTGCTC,-7.601519e-07,-3.626382e-07,10.880397,1.0,4.000000,25.896877,2.044750,1.909685e-07,30.000000,1.439109e-07,...,1.032961e+00,3.875561e-08,2.000000,-4.200419e-08,-6.885578e-08,1.810296e-06,-1.440998e-06,3.970617e+00,37.924940,-2.209137e-07
r1_GATTGGGAGGCA,-1.663476e-06,-5.271179e-08,7.965440,2.0,4.854999,13.977624,5.749265,9.669888e-07,20.000000,9.351846e-02,...,7.920463e+00,1.026122e+00,1.000000,-8.317263e-08,1.545914e-02,8.890413e-01,2.481120e-06,2.999999e+00,17.138410,-4.481584e-07
r1_GTGCCGCCTCTC,-3.935676e-07,2.553913e-06,0.967928,19.0,1.015275,12.887097,0.151542,2.443274e-07,0.016578,-6.800032e-08,...,4.516636e-09,6.454451e-08,2.913356,3.897866e-07,1.427930e-07,9.586994e-03,5.211008e-05,1.296765e-09,2.889869,7.479872e-02

In [23]:
if to_save:
    lowrank_df.to_csv('data/differential_clusters_lowrank.csv', index=True)

# Sparse DF

In [41]:
sparse_df = pd.DataFrame(sparse, index=table1_diff_genes_cells.index, columns=table1_diff_genes_cells.columns)
print(sparse_df.shape)
sparse_df.head()

(6020, 1270)

,1500015O10RIK,1500016L03RIK,1700025G04RIK,1810009A15RIK,1810037I17RIK,2010107E04RIK,2410066E13RIK,2610017I09RIK,2900011O08RIK,4833424O15RIK,...,ZFHX3,ZFHX4,ZFP365,ZFP36L1,ZFP804A,ZIC1,ZIC4,ZMAT4,ZWINT,ZYX
r1_GGCCGCAGTCCG,0.0,-0.0,-0.099476,0.0,0.000000,0.024608,0.000000,-0.003324,-0.000000,-0.000000,...,-0.000000,0.000000,0.024237,0.0,-0.000000,-0.000000,-0.000000,0.035649,0.272678,-0.000000
r1_CTTGTGCGGGAA,0.0,-0.0,0.000000,0.0,-0.000000,0.335530,0.000000,0.000000,0.122952,-0.037061,...,0.000000,0.007976,0.007178,0.0,-0.000000,0.000000,-0.000000,-0.000000,1.050869,0.036385
r1_GCGCAACTGCTC,0.0,0.0,0.119603,-0.0,-0.000000,0.103123,-0.044750,-0.000000,0.000000,-0.000000,...,-0.032961,-0.000000,-0.000000,-0.0,-0.000000,-0.000000,0.000000,0.029383,0.075060,-0.000000
r1_GATTGGGAGGCA,-0.0,-0.0,0.034560,0.0,0.145001,0.022376,0.250735,-0.000000,0.000000,-0.093518,...,0.079537,-0.026122,-0.000000,-0.0,-0.015459,0.110959,0.000000,-0.000000,-0.138410,-0.000000
r1_GTGCCGCCTCTC,-0.0,-0.0,0.032072,-0.0,-0.015275,0.112903,-0.151542,0.000000,-0.016578,-0.000000,...,-0.000000,-0.000000,0.086644,0.0,-0.000000,-0.009587,-0.000052,-0.000000,0.110131,-0.074799

In [42]:
if to_save:
    sparse_df.to_csv('data/differential_clusters/pca/differential_clusters_lowrank_sparse.csv')

# Tidy

In [26]:
def tidify_and_log(data):
    tidy = data.unstack().reset_index()
    tidy = tidy.rename(columns={'level_1': 'barcode', 'level_0': 'gene_symbol', 0: 'expression'})
    tidy['expression_log'] = np.log10(tidy['expression'] + 1)
    return tidy

In [27]:
lowrank_tidy = tidify_and_log(lowrank_df)
print(lowrank_tidy.shape)
lowrank_tidy.head()

(7645400, 4)

     gene_symbol          barcode    expression  expression_log
0  1500015O10RIK  r1_GGCCGCAGTCCG -2.328224e-06   -1.011136e-06
1  1500015O10RIK  r1_CTTGTGCGGGAA -4.461282e-07   -1.937510e-07
2  1500015O10RIK  r1_GCGCAACTGCTC -7.601519e-07   -3.301299e-07
3  1500015O10RIK  r1_GATTGGGAGGCA -1.663476e-06   -7.224392e-07
4  1500015O10RIK  r1_GTGCCGCCTCTC -3.935676e-07   -1.709243e-07

In [28]:
if to_save:
    lowrank_tidy.to_csv('data/differential_clusters/pca/differential_clusters_lowrank_tidy.csv')

# Metadata

In [34]:
lowrank_tidy_metadata = lowrank_tidy.join(cell_metadata, on='barcode')
print(lowrank_tidy_metadata.shape)
lowrank_tidy_metadata.head()

(7645400, 8)

,gene_symbol,barcode,expression,expression_log,cluster_n,cluster_id,celltype,cluster_celltype_with_id
0,1500015O10RIK,r1_GGCCGCAGTCCG,-2.328224e-06,-1.011136e-06,2,cluster_02,Retinal ganglion cells,Retinal ganglion cells (cluster_02)
1,1500015O10RIK,r1_CTTGTGCGGGAA,-4.461282e-07,-1.937510e-07,2,cluster_02,Retinal ganglion cells,Retinal ganglion cells (cluster_02)
2,1500015O10RIK,r1_GCGCAACTGCTC,-7.601519e-07,-3.301299e-07,2,cluster_02,Retinal ganglion cells,Retinal ganglion cells (cluster_02)
3,1500015O10RIK,r1_GATTGGGAGGCA,-1.663476e-06,-7.224392e-07,2,cluster_02,Retinal ganglion cells,Retinal ganglion cells (cluster_02)
4,1500015O10RIK,r1_GTGCCGCCTCTC,-3.935676e-07,-1.709243e-07,25,cluster_25,Cones,Cones (cluster_25)

In [35]:
if to_save:
    lowrank_tidy_metadata.to_csv('data/differential_clusters/pca/differential_clusters_lowrank_tidy_metadata.csv')

# Amacrine

In [38]:
rows = lowrank_tidy_metadata['gene_symbol'].isin(gene_metadata_amacrine.index)
lowrank_tidy_amacrine = lowrank_tidy_metadata.loc[rows]
lowrank_tidy_amacrine = lowrank_tidy_amacrine.query('celltype == "Amacrine cells"')
print(lowrank_tidy_amacrine.shape)
lowrank_tidy_amacrine.head()

(438396, 8)

,gene_symbol,barcode,expression,expression_log,cluster_n,cluster_id,celltype,cluster_celltype_with_id
12055,1700025G04RIK,r1_GGGTGTCAGTGG,1.045608,0.310822,6,cluster_06,Amacrine cells,Amacrine cells (cluster_06)
12058,1700025G04RIK,r1_GTTTATATGCGC,4.821551,0.765039,5,cluster_05,Amacrine cells,Amacrine cells (cluster_05)
12059,1700025G04RIK,r1_TCTTCACTGGCT,4.747396,0.759471,13,cluster_13,Amacrine cells,Amacrine cells (cluster_13)
12060,1700025G04RIK,r1_TCATTTAGTCGA,2.000000,0.477121,8,cluster_08,Amacrine cells,Amacrine cells (cluster_08)
12063,1700025G04RIK,r1_GTCTATTCGGTT,0.132676,0.054106,10,cluster_10,Amacrine cells,Amacrine cells (cluster_10)

In [39]:
if to_save:
    lowrank_tidy_amacrine.to_csv('data/differential_clusters/pca/differential_clusters_lowrank_tidy_metadata_amacrine.csv')